.product-card {
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    height: 370px;
    width: 250px;
    margin: 10px;
    text-align: center;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #fff;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product-card:hover .card img {
    transform: scale(1.1);
}

.card-info {
    padding: 10px;
}

.card-info h3 {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
}

.card-info h4 {
    font-size: 1rem;
    color: #f00;
    font-weight: bold;
}

@media (max-width: 768px) {
    .product-card {
        height: auto;
        width: 45%;
        margin: 5px;
    }

    .card img {
        width: 90%;
        height: auto;
    }

    .card-info h3 {
        font-size: 1rem;
    }

    .card-info h4 {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .product-card {
        height: auto;
        width: 100%;
        margin: 5px 0;
    }

    .card img {
        width: 90%;
        height: auto;
    }

    .card-info h3 {
        font-size: 0.9rem;
    }

    .card-info h4 {
        font-size: 0.8rem;
    }
}
